<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bee.css">
    <link rel="stylesheet" href="code.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2eb1ff35d2.js" crossorigin="anonymous"></script>
    <title>Каталог сайта</title>
  </head>
  <body>
    <header class="header">
        <div class="container">

            <div class="header_inner">
                <div class="header_left">

                    <div class="header_logo">
                        <a href="#"><img src="logo.png" alt="Tomiko Trade" class="logo"></a>
                    </div>

                    <nav class="nav">
                        <a class="nav_link" href="#">Авто из Кореи</a>
                        <a class="nav_link" href="#">Авто из Китая</a>
                        <a class="nav_link" href="#">Авто из Японии</a>
                        <a class="nav_link" href="#">Акции</a>
                        <a class="nav_link" href="#">Контакты</a>
                    </nav>
                </div>

                <div class="header_right">
                    <div class="number">
                        <p>8 (800) 500-49-46</p>
                    </div>

                    <div class="social">
                        <a class="social_item" href="#" target="_blank"><i class="fa-brands fa-telegram"></i>
                        </a>
                        <a class="social_item" href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </header>
    <section class = "section" >
      <div class="container">
        <div class="sup_title_catalog">
          <p>АВТОМОБИЛИ ИЗ КОРЕИ</p> <img src="korea.png" alt="KOREA">
        </div>
        <div class="catalog">
          <div class="catalog_select">
            <select class="select_item" name="213">
              <option value="">Марка авто</option>
  <option value="AUDI">AUDI</option>
  <option value="BMW">BMW</option>
  <option value="CADILLAC">CADILLAC</option>

            </select>
            <div class="select_neskolko">
              <select class="select_item_nesk" name="213">

                  <option value="">Год от</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
              </select>
              <select class="select_item_nesk" name="213">

                  <option value="">до</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
              </select>
            </div>

            <div class="select_neskolko">
              <select class="select_item_nesk" name="213">

                  <option value="">Объём от</option>
                  <option value="0.7">0.7</option>
                  <option value="0.8">0.8</option>
                  <option value="1.0">1.0</option>
              </select>
              <select class="select_item_nesk" name="213">

                  <option value="">до</option>
                  <option value="0.7">0.7</option>
                  <option value="0.8">0.8</option>
                  <option value="1.0">1.0</option>
              </select>
            </div>
            <select class="select_item" name="213">
              <option value="">Привод</option>
              <option value="polny">Полный</option>
              <option value="zadni">Задний</option>
              <option value="peredni">Передний</option>

            </select>
            <select class="select_item" name="213">
              <option value="">Моедль авто</option>
              <option value="dog">1-SERIES F20</option>
              <option value="cat">1-SERIES F40</option>
              <option value="hamster">3-SERIES F30</option>

            </select>
            <div class="select_neskolko">
              <select class="select_item_nesk" name="213">

                  <option value="">Пробег от</option>
                  <option value="0.7">10000КМ</option>
                  <option value="0.8">20000КМ</option>
                  <option value="1.0">30000КМ</option>
              </select>
              <select class="select_item_nesk" name="213">

                  <option value="">до</option>
                  <option value="0.7">10000КМ</option>
                  <option value="0.8">20000Км</option>
                  <option value="1.0">30000КМ</option>
              </select>
            </div>
            <select class="select_item" name="213">
              <option value="">ТИП КПП</option>
                <option value="avtomat">Автомат</option>
                <option value="mechanic">Механика</option>
            </select>
            <select class="select_item" name="213">
              <option value="">Цвет</option>
              <option value="green">Зелёный</option>
              <option value="red">Красный</option>
              <option value="yellow">Жёлтый</option>
            </select>

            </div>
            <div class="button_catalog">
              <button type="button" name="catalog_button" class = "catalog_button">Показать</button>
            </div>
          </div>
    </section>

    <section class = "section">
      <div class="container">
        <div class="slider_up_text">
          ПОПУЛЯРНЫЕ АВТО <span>ИЗ КОРЕИ</span><img src="korea.png" alt="картинка">
        </div>
        <div class="wrapper">

        <div class="image-slider swiper-container"><!-- Главный контейнер слайдера !-->
        <div class="image-slider__wraper swiper-wrapper"><!-- Обязательная оболочка !-->


          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

          <div class="image-slider_slide swiper-slide"> <!-- Слайды !-->
            <div class="image-slider_image">
              <div class="slider_text">
                Subaru LEVORG VN5
                <p>2021 • Гибрит • 10 000 км</p>
              </div>
              <img src="2024-11-14_13_VGhlFmY.webp" alt="Картинка">
            </div>
          </div>

        </div>

      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    </div>

    </section>
    <section>
      <div class="container">


        <div class="carousel-container">
          <div class="select_car">
            <select class="select_item sort-car" name="213">
              <option value="">Сортировка</option>
              <option value="dog">Пробег по возрастанию</option>
              <option value="cat">Объём: по возрастанию</option>
              <option value="hamster">Год: по возрастанию</option>

            </select>
            <div class = "link_torg"><a href="#">Какие авто торгуют сейчас?</a></div>
          </div>



    <div id="carousel" class="carousel">

      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="title_card">
          <div class = "card_suptitle"<p>Subaru LEVORG VN5</p></div>
          <div class = "card_subtitle"><p>2021 • Гибрит • 10 000 км</p></div>
        </div>
        <img src="catalog.png" alt="Car 2">
        <div class = "footer_card">
        <div class="price_car_catalog">
          2 115 600 ₽
        </div>
        <div class="button_card">
          <button type="button" name="card_button" class = "card_button">Оставить заявку</button>
        </div>
      </div>
      </div>


    </div>
    <div class="navigation" id="pagination">
      </div>

    </section>

    <section class = "section">
      <div class="container">
        <div class="cnt">

        <div class="contact">
          <div class="contact_text">
            КОНТАКТНАЯ ИНФОРМАЦИЯ
          </div>
          <div class="sub_contact_text">
            Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей.
          </div>
          <div class="contact_info">
            <p>
              Звонок по России бесплатно
            </p>
            <div>
              8 800 550 48 3
            </div>
            <p>
              Whatsapp
            </p>
            <div>
              +7 (924) 420-24-3
            </div>
            <p>
              Офис
            </p>
            <div>
              г. Владивосток, ул. Тополевая
            </div>
          </div>
        </div>
        <div class="form_contact">

          <form class ="form_to_contact">

            <span class = "name">
              <label for="name">Имя</label><br>
              <input type="text" placeholder="Введите имя">
            </span>
            <span class="phone_number">
              <label for="phone_number">Телефон</label><br>
              <input type="text" placeholder="+7">
            </span>
            <div class="textarea">
              <label for="textarea">Уточните свой вопрос</label>
              <textarea class = text_form_contact placeholder="Введите текст сообщения, укажите страну, марку и год машины"></textarea>
            </div>
            <div class="cch">
              <input type="checkbox" class = "checkbox" width="20px">
              <span class = "text_checkbox">С<span class = "confeditional_form">правилами политики конфиденциальности</span> ознакомлён</span>

            </div>
            <div class="button_form">
              Отправить
            </div>

          </form>

      </div>


      </div>
    </div>
    </section>
    <section class="section">
      <div class="container">


          <div class = "reklama_item">

          <div class="reklama_img">
            <img src="contactpht.png">
          </div>
          <div class="reklama_slogan">
            <div class="slogan">
              <p><span>ПОДПИШИСЬ</span> И НЕ УПУСТИ СВОЙ АВТОМОБИЛЬ МЕЧТЫ</p>
            </div>
            <div class="slogan_socseti">
              <div class="slogan_socseti_item">
                <a href="#"><img src="cta_button.png"><span>Телеграмм-канал</span><img src="Vector.png" class="strel_tg"></a>
              </div>
              <div class="slogan_socseti_item">
                <a href="#"><img src="cta_button_vk.png"><span>VK</span><img src="Vector.png" class = "strel_vk"></a>
              </div>
              <div class="slogan_socseti_item">
                <a href = "#"><img src="cta_button_inst.png"><span>Instagram</span><img src="Vector.png" class="strel_inst"></a>
              </div>
            </div>
          </div>
      </div>

    </div>
    </section>
    <footer class = "footer">
      <div class="container">
        <div class="ot">
      <div class="footer_info">
        <div class="footer_logo">
          <img src="80d1241e4c01716ee4946c053c22a1fa.png">
        </div>
        <div class="footer_catalog">
          <span class="katalog">КАТАЛОГ</span>
        <div class="catalog_text">
          <div class="links_footer">
          <a href="#">Авто из Кореи</a>
          <a href="#">Авто из Китая</a>
          <a href="#">Авто из </a>
        </div>
        </div>
        </div>
        <div class="footer_company">
          <span>КОМПАНИЯ</span>
          <div class="company_text">
            <div class="links_footer">
            <a href="#">О компании</a>
            <a href="#">Доставка</a>
            <a href="#">Отзывы</a>
          </div>
        </div>
        </div>
      </div>
      <div class="footer_contact">
        <span>Звонок по России бесплатный</span>
        <div class="number">88005504832</div>
        <div class="footer_sosceti">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>

    </div>
    <div class="politic">
    <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
    <p>Политика конфиденциальности</p>
    </div>
    </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src = "code.js"></script>

  </body>
</html>
